# Altium
__Previews
History
Project Logs*
Project Outputs*
*.NET
*.htm
*.Harness
*.PrjPCBStructure
*.x_t

# Freecad
*.FCStd1
*.FCStd2
CAD/*.dxf
CAD/*.pdf

# datasheet
datasheet/*
!datasheet/datasheet.sh
